<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {{ title }} {% endblock %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
</head>
<body>
    <ul>
        <li><a href="#home">Home</a></li>
        <li class="dropdown">
            <a href="#Manage" class="dropbtn">Manage</a>
            <div class="dropdown-content">
                <a href="#manage-students">Students</a>
                <a href="#manage-books">Book</a>
                <a href="#create-borrow">Library Card</a>
                <a href="#create-return">Return Book</a>
            </div>
        </li>
        <li><a href="#Add">Add</a></li>
        <li><a href="#Delete">Delete</a></li>
        <li><a href="#Logout" id="logout_btn">Logout</a></li>
        <li><a href="#Logout" id="logout_btn">Hello {{ username }}</a></li>
        <div class="search-container">
            <input type="text" placeholder="Search..">
            <button type="submit">Search</button>
        </div>
    </ul>
    <div class="columns">
        <div class="column community">
            <h2>Community</h2>
            <!-- Books will be added here by JavaScript -->
        </div>
        <div class="column popular">
            <h2>Popular</h2>
            <!-- Books will be added here by JavaScript -->
        </div>
        <div class="column recentAdd">
            <h2>Recent Add</h2>
            <!-- Books will be added here by JavaScript -->
        </div>
    </div>
    <div class="search-results">
        <!-- Search results will be displayed here -->
    </div>
    <script src="{{ url_for('static',filename='js/books.js')}}"></script>
    <script src="{{ url_for('static',filename='js/logout.js')}}"></script>
    <script src="{{ url_for('static',filename='js/auto_load.js')}}"></script>
</body>
</html>